/* най-отгоре: всички @import */
@import "./reset.css";
@import "./navigation.css";
@import "./footer.css";
@import "./main.css";

/* след това Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


html { scroll-behavior: smooth; }