@import "./reset.css";
@import "./navigation.css";
@import "./footer.css";
@import "./main.css";
@import "./theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }