@import "./reset.css";
@import "./navigation.css";
/* @import "./footer.css"; */
@import "./main.css";
@import "./theme.css";

html { scroll-behavior: smooth; scroll-padding-top: 80px; }
@media (min-width: 768px) {
  html { scroll-padding-top: 88px; }
}