.nav-body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
    width: 100%;
}

.site {
    background: #fff;
    max-width: 1500px;
    margin: 0 auto;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    padding: 2em;
}

.site > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.site > header h1 a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding-left: 1rem;
}

.logo {
    max-height: 5em;
    max-width: 5em;
    border-radius: 50%;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em; /* или каквато височина искаш */
    min-width: 8em; /* по избор – за равни бутони */
    text-align: center;
}


.main-nav a {
    display: block;
    text-decoration: none;
    color: #333;
    background: #eee;
    padding: 1em 1.5em;
    border-radius: 0.3em;
    transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
}

.main-nav a:hover,
.menu-button:hover {
    transform: scale(1.2);
    background: rgb(49, 173, 0);
    color: #fff;
}

@media (max-width: 799px) {
    .menu-button {
        display: block;
        background: #EEE;
        padding: 1em 1.5em;
        cursor: pointer;
        border: none;
        font-size: 1.2em;
        border-radius: 0.3em;
    }

    .main-nav {
        display: none;
        position: fixed;
        inset: 0;
        background: #fff;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 999;
    }

    .main-nav.open {
        display: flex;
    }

    .main-nav li {
        margin-bottom: 1em;
    }

    .main-nav li:hover > ul {
        display: block;
        box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 800px) {
    .menu-button {
        display: none;
    }

    .main-nav {
        display: flex !important;
    }

    .main-nav ul {
        display: flex;
        gap: 1em;
    }

    .main-nav li {
        position: relative;
    }

    .main-nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 10rem;
        background: #eee;
    }

    .main-nav ul ul ul {
        top: 0;
        left: 100%;
    }

    .main-nav li:hover > ul {
        display: block;
        box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.1);
    }
}